# Ignore entire data/results folders
00_raw_reads/
00_reference_genome/
01_qc_before_processing/
02_processed_reads/
03_qc_after_processing/
04_star_index/
05_star_result/
06_psiclass_result

# Ignore log files and system files
*.log
.DS_Store